html{
  background-image: url("/static/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  z-index: 0;
}

#Info{
  background: #D6CA9E;
  text-align: center;
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}
* {
  box-sizing: border-box;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}
.middle img {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ol {
  text-align: left;
}

@media (max-width: 550px) {
  html{
    background-image: url("/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    z-index: 0;
  }

  .Info{
    background: #D6CA9E;
    text-align: center;
    font-size: 18px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  * {
    box-sizing: border-box;
  }
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }

  .left, .right {
    width: 25%;
  }

  .middle {
    width: 50%;
  }
  .middle img {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
